In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [3]:
movies = pd.read_csv('ml-latest-small/movies.csv')

movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
links = pd.read_csv('ml-latest-small/links.csv')

links = links.fillna(0.0)
links['tmdbId'] = links['tmdbId'].astype('int64')

links.head(10)

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862
5        6  113277     949
6        7  114319   11860
7        8  112302   45325
8        9  114576    9091
9       10  113189     710

In [5]:
tags = pd.read_csv('ml-latest-small/tags.csv')

tags.head(10)

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [23]:
ratings.nunique()

userId         610
movieId       9724
rating          10
timestamp    85043
dtype: int64

In [28]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
df = ratings.pivot_table(index='userId', columns='movieId', values='rating', fill_value=0, aggfunc='first')

df.index.name = None
df.columns.name = None

In [29]:
df

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [26]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_matrix = ratings.pivot_table(index='userId', columns='movieId', values='rating', fill_value=0, aggfunc='first')

ratings_matrix.index.name = None
ratings_matrix.columns.name = None

ratings_matrix

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [27]:
ratings[ratings['userId'] == 432]

       userId  movieId  rating   timestamp
66798     432        1     2.5  1316391457
66799     432        2     4.0  1316391739
66800     432       19     2.0  1316391760
66801     432       25     4.5  1315243647
66802     432       36     3.5  1316391708
...       ...      ...     ...         ...
67053     432    89208     3.5  1328049786
67054     432    91630     4.0  1335139828
67055     432    91658     5.0  1328049614
67056     432    92348     4.0  1328049736
67057     432    92391     4.0  1328049771

[260 rows x 4 columns]

In [28]:
df.loc[432, 91658]

5.0

In [29]:
df.to_csv('data/user_rating_pt.csv', index=False)

### Saving movie titles

In [43]:
movie_df = pd.read_csv('ml-latest-small/movies.csv')

movies_rated = ratings['movieId'].unique()
movie_df = movie_df[movie_df['movieId'].isin(movies_rated)].reset_index(drop=True)

In [44]:
titles = list(movie_df['title'])

In [45]:
len(titles)

9724

In [46]:
titles

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'Sudden Death (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Dracula: Dead and Loving It (1995)',
 'Balto (1995)',
 'Nixon (1995)',
 'Cutthroat Island (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Four Rooms (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Money Train (1995)',
 'Get Shorty (1995)',
 'Copycat (1995)',
 'Assassins (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'Othello (1995)',
 'Now and Then (1995)',
 'Persuasion (1995)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Dangerous Minds (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Babe (1995)',
 'Dead Man Walking (1995)',
 'It Takes Two (1995)',
 'Clueless (1995)',
 'Cry, the Beloved Country (1995)',
 'Richard III (1995)',
 'Dead Presidents (1995)',
 'Restoration (1995)',
 'Mortal Kombat (1995)',
 'To Die For (1995)',
 'How to Make an American Quilt (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Pocahontas (1995)',
 'When Night Is Falling (1995)',
 'Usual Suspects, The (1995)',
 'Mighty Aphrodite (1995)',
 'Lamerica (1994)',
 'Big Green, The (1995)',
 'Georgia (1995)',
 'Home for the Holidays (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Indian in the Cupboard, The (1995)',
 'Eye for an Eye (1996)',
 "Mr. Holland's Opus (1995)",
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 'Two if by Sea (1996)',
 'Bio-Dome (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'French Twist (Gazon maudit) (1995)',
 'Friday (1995)',
 'From Dusk Till Dawn (1996)',
 'Fair Game (1995)',
 'Kicking and Screaming (1995)',
 'Misérables, Les (1995)',
 'Bed of Roses (1996)',
 'Big Bully (1996)',
 'Screamers (1995)',
 'Nico Icon (1995)',
 'Crossing Guard, The (1995)',
 'Juror, The (1996)',
 'White Balloon, The (Badkonake sefid) (1995)',
 "Things to Do in Denver When You're Dead (1995)",
 "Antonia's Line (Antonia) (1995)",
 'Once Upon a Time... When We Were Colored (1995)',
 'Angels and Insects (1995)',
 'White Squall (1996)',
 'Dunston Checks In (1996)',
 'Black Sheep (1996)',
 'Nick of Time (1995)',
 'Mary Reilly (1996)',
 'Vampire in Brooklyn (1995)',
 'Beautiful Girls (1996)',
 'Broken Arrow (1996)',
 'In the Bleak Midwinter (1995)',
 'Hate (Haine, La) (1995)',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'City Hall (1996)',
 'Bottle Rocket (1996)',
 'Mr. Wrong (1996)',
 'Unforgettable (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Muppet Treasure Island (1996)',
 'Catwalk (1996)',
 'Braveheart (1995)',
 'Taxi Driver (1976)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Before and After (1996)',
 'Anne Frank Remembered (1995)',
 "Young Poisoner's Handbook, The (1995)",
 'If Lucy Fell (1996)',
 'Steal Big, Steal Little (1995)',
 'Boys of St. Vincent, The (1992)',
 'Boomerang (1992)',
 'Chungking Express (Chung Hing sam lam) (1994)',
 'Flirting With Disaster (1996)',
 'NeverEnding Story III, The (1994)',
 "Jupiter's Wife (1994)",
 'Pie in the Sky (1996)',
 'Jade (1995)',
 'Down Periscope (1996)',
 'Man of the Year (1995)',
 'Up Close and Personal (1996)',
 'Birdcage, The (1996)',
 'Brothers McMullen, The (1995)',
 'Bad Boys (1995)',
 'Amazing Panda Adventure, The (1995)',
 'Basketball Diaries, The (1995)',
 'Awfully Big Adventure, An (1995)',
 'Amateur (1994)',
 'Apollo 13 (1995)',
 'Rob Roy (1995)',
 'Addiction, The (1995)',
 'Batman Forever (1995)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Beyond Rangoon (1995)',
 'Blue in the Face (1995)',
 'Canadian Bacon (1995)',
 'Casper (1995)',
 'Clockers (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Crumb (1994)',
 'Desperado (1995)',
 'Devil in a Blue Dress (1995)',
 'Die Hard: With a Vengeance (1995)',
 'Doom Generation, The (1995)',
 'First Knight (1995)',
 'Free Willy 2: The Adventure Home (1995)',
 'Hackers (1995)',
 'Jeffrey (1995)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jury Duty (1995)',
 'Kids (1995)',
 'Living in Oblivion (1995)',
 'Lord of Illusions (1995)',
 'Love & Human Remains (1993)',
 'Mad Love (1995)',
 'Mallrats (1995)',
 'Mighty Morphin Power Rangers: The Movie (1995)',
 'Mute Witness (1994)',
 'Nadja (1994)',
 'Net, The (1995)',
 'Nine Months (1995)',
 'Party Girl (1995)',
 'Prophecy, The (1995)',
 'Reckless (1995)',
 'Safe (1995)',
 'Scarlet Letter, The (1995)',
 'Showgirls (1995)',
 'Smoke (1995)',
 'Something to Talk About (1995)',
 'Species (1995)',
 'Strange Days (1995)',
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 'Three Wishes (1995)',
 'Total Eclipse (1995)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Under Siege 2: Dark Territory (1995)',
 'Unstrung Heroes (1995)',
 'Unzipped (1995)',
 'Walk in the Clouds, A (1995)',
 'Waterworld (1995)',
 "White Man's Burden (1995)",
 'Wild Bill (1995)',
 'Browning Version, The (1994)',
 'Bushwhacked (1995)',
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 'Before the Rain (Pred dozhdot) (1994)',
 'Before Sunrise (1995)',
 'Billy Madison (1995)',
 'Babysitter, The (1995)',
 'Boys on the Side (1995)',
 'Cure, The (1995)',
 'Castle Freak (1995)',
 'Circle of Friends (1995)',
 'Clerks (1994)',
 'Don Juan DeMarco (1995)',
 'Disclosure (1994)',
 'Drop Zone (1994)',
 'Destiny Turns on the Radio (1995)',
 'Death and the Maiden (1994)',
 'Dolores Claiborne (1995)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 'Exotica (1994)',
 'Exit to Eden (1994)',
 'Ed Wood (1994)',
 'French Kiss (1995)',
 'Forget Paris (1995)',
 'Far From Home: The Adventures of Yellow Dog (1995)',
 'Goofy Movie, A (1995)',
 'Hideaway (1995)',
 'Fluke (1995)',
 'Farinelli: il castrato (1994)',
 'Gordy (1995)',
 'Hoop Dreams (1994)',
 'Heavenly Creatures (1994)',
 'Houseguest (1994)',
 'Immortal Beloved (1994)',
 'Heavyweights (Heavy Weights) (1995)',
 'Hunted, The (1995)',
 'I.Q. (1994)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Jefferson in Paris (1995)',
 'Jerky Boys, The (1995)',
 'Junior (1994)',
 'Just Cause (1995)',
 "Kid in King Arthur's Court, A (1995)",
 'Kiss of Death (1995)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Little Women (1994)',
 'Little Princess, A (1995)',
 'Ladybird Ladybird (1994)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Legends of the Fall (1994)',
 'Major Payne (1995)',
 'My Crazy Life (Mi vida loca) (1993)',
 'Love Affair (1994)',
 'Losing Isaiah (1995)',
 'Madness of King George, The (1994)',
 "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 'Man of the House (1995)',
 'Mixed Nuts (1994)',
 'Milk Money (1994)',
 'Miracle on 34th Street (1994)',
 'Miami Rhapsody (1995)',
 'My Family (1995)',
 'Murder in the First (1995)',
 "Nobody's Fool (1994)",
 'Nell (1994)',
 'New Jersey Drive (1995)',
 'New York Cop (Nyû Yôku no koppu) (1993)',
 'Beyond Bedlam (1993)',
 'Nina Takes a Lover (1994)',
 'Natural Born Killers (1994)',
 'Only You (1994)',
 'Once Were Warriors (1994)',
 'Poison Ivy II (1996)',
 'Outbreak (1995)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Perez Family, The (1995)',
 "Pyromaniac's Love Story, A (1995)",
 'Pulp Fiction (1994)',
 'Pushing Hands (Tui shou) (1992)',
 'Priest (1994)',
 'Quiz Show (1994)',
 'Picture Bride (Bijo photo) (1994)',
 'Queen Margot (Reine Margot, La) (1994)',
 'Quick and the Dead, The (1995)',
 'Roommates (1995)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 'Rent-a-Kid (1995)',
 'Relative Fear (1994)',
 'Stuart Saves His Family (1995)',
 'Swan Princess, The (1994)',
 'Secret of Roan Inish, The (1994)',
 'Specialist, The (1994)',
 'Stargate (1994)',
 'Santa Clause, The (1994)',
 'Shawshank Redemption, The (1994)',
 'Shallow Grave (1994)',
 'Suture (1993)',
 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 'Swimming with Sharks (1995)',
 'Sum of Us, The (1994)',
 "National Lampoon's Senior Trip (1995)",
 'To Live (Huozhe) (1994)',
 'Tank Girl (1995)',
 'Tales from the Crypt Presents: Demon Knight (1995)',
 'Star Trek: Generations (1994)',
 'Tales from the Hood (1995)',
 'Tom & Viv (1994)',
 'Village of the Damned (1995)',
 'Tommy Boy (1995)',
 'Vanya on 42nd Street (1994)',
 'Underneath (1995)',
 'Walking Dead, The (1995)',
 "What's Eating Gilbert Grape (1993)",
 'Virtuosity (1995)',
 'While You Were Sleeping (1995)',
 'War, The (1994)',
 'Double Happiness (1994)',
 "Muriel's Wedding (1994)",
 'Baby-Sitters Club, The (1995)',
 'Ace Ventura: Pet Detective (1994)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Backbeat (1993)',
 'Bitter Moon (1992)',
 'Bullets Over Broadway (1994)',
 'Clear and Present Danger (1994)',
 'Client, The (1994)',
 'Corrina, Corrina (1994)',
 'Crooklyn (1994)',
 'Crow, The (1994)',
 'Cobb (1994)',
 'Flintstones, The (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Higher Learning (1995)',
 'I Like It Like That (1994)',
 'I Love Trouble (1994)',
 'It Could Happen to You (1994)',
 'Jungle Book, The (1994)',
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 'Lion King, The (1994)',
 'Little Buddha (1993)',
 "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 'Mask, The (1994)',
 'Maverick (1994)',
 'Mrs. Parker and the Vicious Circle (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Paper, The (1994)',
 'Reality Bites (1994)',
 'Red Rock West (1992)',
 'Richie Rich (1994)',
 'River Wild, The (1994)',
 'Speed (1994)',
 'Speechless (1994)',
 'Timecop (1994)',
 'True Lies (1994)',
 'When a Man Loves a Woman (1994)',
 'Wolf (1994)',
 'Wyatt Earp (1994)',
 'Bad Company (1995)',
 'Man of No Importance, A (1994)',
 'S.F.W. (1994)',
 'Low Down Dirty Shame, A (1994)',
 'Boys Life (1995)',
 'Colonel Chabert, Le (1994)',
 'Faster Pussycat! Kill! Kill! (1965)',
 "Jason's Lyric (1994)",
 'Street Fighter (1994)',
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 'Federal Hill (1994)',
 'In the Mouth of Madness (1995)',
 '8 Seconds (1994)',
 'Above the Rim (1994)',
 'Addams Family Values (1993)',
 'Age of Innocence, The (1993)',
 'Airheads (1994)',
 'Air Up There, The (1994)',
 'Another Stakeout (1993)',
 'Bad Girls (1994)',
 'Barcelona (1994)',
 'Being Human (1993)',
 'Beverly Hillbillies, The (1993)',
 'Beverly Hills Cop III (1994)',
 'Black Beauty (1994)',
 'Blink (1994)',
 'Blown Away (1994)',
 'Blue Chips (1994)',
 'Blue Sky (1994)',
 'Body Snatchers (1993)',
 'Boxing Helena (1993)',
 'Bronx Tale, A (1993)',
 'Cabin Boy (1994)',
 'Calendar Girl (1993)',
 "Carlito's Way (1993)",
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Clean Slate (1994)',
 'Cliffhanger (1993)',
 'Coneheads (1993)',
 'Color of Night (1994)',
 'Cops and Robbersons (1994)',
 'Cowboy Way, The (1994)',
 'Dave (1993)',
 'Dazed and Confused (1993)',
 'Demolition Man (1993)',
 'Even Cowgirls Get the Blues (1993)',
 'Fatal Instinct (1993)',
 'Farewell My Concubine (Ba wang bie ji) (1993)',
 'Fearless (1993)',
 'Fear of a Black Hat (1994)',
 'With Honors (1994)',
 'Flesh and Bone (1993)',
 "Widows' Peak (1994)",
 'For Love or Money (1993)',
 'Firm, The (1993)',
 'Free Willy (1993)',
 'Fresh (1994)',
 'Fugitive, The (1993)',
 'Geronimo: An American Legend (1993)',
 'Getaway, The (1994)',
 'Getting Even with Dad (1994)',
 'Go Fish (1994)',
 'Hard Target (1993)',
 'Hot Shots! Part Deux (1993)',
 'Live Nude Girls (1995)',
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 'House of the Spirits, The (1993)',
 'House Party 3 (1994)',
 'Hudsucker Proxy, The (1994)',
 "I'll Do Anything (1994)",
 'In the Army Now (1994)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Inkwell, The (1994)',
 "What's Love Got to Do with It? (1993)",
 'Jimmy Hollywood (1994)',
 'Judgment Night (1993)',
 'Jurassic Park (1993)',
 'Kalifornia (1993)',
 'Killing Zoe (1994)',
 'Lassie (1994)',
 'Last Action Hero (1993)',
 'Life with Mikey (1993)',
 'Lightning Jack (1994)',
 'M. Butterfly (1993)',
 'Made in America (1993)',
 'Malice (1993)',
 'Man Without a Face, The (1993)',
 'Manhattan Murder Mystery (1993)',
 'Menace II Society (1993)',
 'Executive Decision (1996)',
 'In the Realm of the Senses (Ai no corrida) (1976)',
 'What Happened Was... (1994)',
 'Much Ado About Nothing (1993)',
 'Mr. Wonderful (1993)',
 'Mrs. Doubtfire (1993)',
 'Naked (1993)',
 'Next Karate Kid, The (1994)',
 'No Escape (1994)',
 'North (1994)',
 'Orlando (1992)',
 'Perfect World, A (1993)',
 'Philadelphia (1993)',
 'Piano, The (1993)',
 'Poetic Justice (1993)',
 'Program, The (1993)',
 'Puppet Masters, The (1994)',
 'Radioland Murders (1994)',
 'Ref, The (1994)',
 'Remains of the Day, The (1993)',
 'Renaissance Man (1994)',
 'Rising Sun (1993)',
 'Road to Wellville, The (1994)',
 'RoboCop 3 (1993)',
 'Robin Hood: Men in Tights (1993)',
 'Romeo Is Bleeding (1993)',
 'Romper Stomper (1992)',
 'Ruby in Paradise (1993)',
 'Rudy (1993)',
 'Savage Nights (Nuits fauves, Les) (1992)',
 "Schindler's List (1993)",
 'Scout, The (1994)',
 'Searching for Bobby Fischer (1993)',
 'Secret Garden, The (1993)',
 'Serial Mom (1994)',
 'Shadow, The (1994)',
 'Shadowlands (1993)',
 'Short Cuts (1993)',
 'Simple Twist of Fate, A (1994)',
 'Sirens (1994)',
 'Six Degrees of Separation (1993)',
 'Sleepless in Seattle (1993)',
 'Sliver (1993)',
 'Blade Runner (1982)',
 'Son in Law (1993)',
 'So I Married an Axe Murderer (1993)',
 'Striking Distance (1993)',
 'Super Mario Bros. (1993)',
 'Surviving the Game (1994)',
 'Terminal Velocity (1994)',
 'Thirty-Two Short Films About Glenn Gould (1993)',
 'Threesome (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'True Romance (1993)',
 'War Room, The (1993)',
 'Pagemaster, The (1994)',
 'Welcome to the Dollhouse (1995)',
 'Germinal (1993)',
 'Chasers (1994)',
 'Kika (1993)',
 'Bhaji on the Beach (1993)',
 'Little Big League (1994)',
 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 'Spanking the Monkey (1994)',
 'Little Rascals, The (1994)',
 'Andre (1994)',
 'Escort, The (Scorta, La) (1993)',
 'Princess Caraboo (1994)',
 'Celluloid Closet, The (1995)',
 'Dear Diary (Caro Diario) (1994)',
 'Brady Bunch Movie, The (1995)',
 'Home Alone (1990)',
 'Ghost (1990)',
 'Aladdin (1992)',
 'Terminator 2: Judgment Day (1991)',
 'Dances with Wolves (1990)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Snow White and the Seven Dwarfs (1937)',
 'Beauty and the Beast (1991)',
 'Pinocchio (1940)',
 'Pretty Woman (1990)',
 'Wild Bunch, The (1969)',
 'Love and a .45 (1994)',
 'Great Day in Harlem, A (1994)',
 'One Fine Day (1996)',
 'Candyman: Farewell to the Flesh (1995)',
 'Fargo (1996)',
 'Homeward Bound II: Lost in San Francisco (1996)',
 'Heavy Metal (1981)',
 'Hellraiser: Bloodline (1996)',
 'Pallbearer, The (1996)',
 'Jane Eyre (1996)',
 'Bread and Chocolate (Pane e cioccolata) (1973)',
 'Aristocats, The (1970)',
 'Flower of My Secret, The (La flor de mi secreto) (1995)',
 'Two Much (1995)',
 'Ed (1996)',
 'Thin Line Between Love and Hate, A (1996)',
 'Last Supper, The (1995)',
 'Primal Fear (1996)',
 'All Dogs Go to Heaven 2 (1996)',
 'Land and Freedom (Tierra y libertad) (1995)',
 'Denise Calls Up (1995)',
 'Theodore Rex (1995)',
 'Family Thing, A (1996)',
 'Frisk (1995)',
 'Sgt. Bilko (1996)',
 'Jack and Sarah (1995)',
 'Girl 6 (1996)',
 'Diabolique (1996)',
 'Nelly & Monsieur Arnaud (1995)',
 'Courage Under Fire (1996)',
 'Mission: Impossible (1996)',
 'Cold Fever (Á köldum klaka) (1995)',
 'Moll Flanders (1996)',
 'Dragonheart (1996)',
 'Eddie (1996)',
 'James and the Giant Peach (1996)',
 'Fear (1996)',
 'Kids in the Hall: Brain Candy (1996)',
 'Underground (1995)',
 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 'Song of the Little Road (Pather Panchali) (1955)',
 'World of Apu, The (Apur Sansar) (1959)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Space Jam (1996)',
 'Barbarella (1968)',
 'Some Folks Call It a Sling Blade (1993)',
 'Run of the Country, The (1995)',
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 "It's My Party (1996)",
 'Operation Dumbo Drop (1995)',
 'Mrs. Winterbourne (1996)',
 'Solo (1996)',
 'Substitute, The (1996)',
 'True Crime (1996)',
 'Feeling Minnesota (1996)',
 'Delta of Venus (1995)',
 'Angus (1995)',
 'Boys (1996)',
 'Quest, The (1996)',
 'Sunset Park (1996)',
 'Mulholland Falls (1996)',
 'Truth About Cats & Dogs, The (1996)',
 'Oliver & Company (1988)',
 'Celtic Pride (1996)',
 'Flipper (1996)',
 'Dead Man (1995)',
 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 'Visitors, The (Visiteurs, Les) (1993)',
 'Multiplicity (1996)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Haunted World of Edward D. Wood Jr., The (1996)',
 'Craft, The (1996)',
 'Great White Hype, The (1996)',
 'Last Dance (1996)',
 'Cold Comfort Farm (1995)',
 "Heaven's Prisoners (1996)",
 'Rock, The (1996)',
 'Cemetery Man (Dellamorte Dellamore) (1994)',
 'Twister (1996)',
 'Barb Wire (1996)',
 'Ghost in the Shell (Kôkaku kidôtai) (1995)',
 'Thinner (1996)',
 'Spy Hard (1996)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Stupids, The (1996)',
 'Arrival, The (1996)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Ashes of Time (Dung che sai duk) (1994)',
 'Maya Lin: A Strong Clear Vision (1994)',
 'Stalingrad (1993)',
 'Phantom, The (1996)',
 'Striptease (1996)',
 'Heavy (1995)',
 'Jack (1996)',
 'I Shot Andy Warhol (1996)',
 'Touki Bouki (1973)',
 'Spirits of the Dead (1968)',
 'Trainspotting (1996)',
 "'Til There Was You (1997)",
 'Independence Day (a.k.a. ID4) (1996)',
 'Stealing Beauty (1996)',
 'Fan, The (1996)',
 'Hunchback of Notre Dame, The (1996)',
 'Cable Guy, The (1996)',
 'Kingpin (1996)',
 'Eraser (1996)',
 'Nutty Professor, The (1996)',
 'Unforgettable Summer, An (Un été inoubliable) (1994)',
 'Last Klezmer: Leopold Kozlowski, His Life and Music, The (1994)',
 'Somebody to Love (1994)',
 'Daylight (1996)',
 'Frighteners, The (1996)',
 'Lone Star (1996)',
 'Harriet the Spy (1996)',
 'Phenomenon (1996)',
 'Walking and Talking (1996)',
 "She's the One (1996)",
 'Time to Kill, A (1996)',
 'American Buffalo (1996)',
 'Alaska (1996)',
 'Fled (1996)',
 'Kazaam (1996)',
 'Larger Than Life (1996)',
 'Very Brady Sequel, A (1996)',
 'Collector, The (La collectionneuse) (1967)',
 'Kaspar Hauser (1993)',
 'Adventures of Pinocchio, The (1996)',
 "Joe's Apartment (1996)",
 'First Wives Club, The (1996)',
 'Ransom (1996)',
 'High School High (1996)',
 'Foxfire (1996)',
 'Chain Reaction (1996)',
 'Matilda (1996)',
 'Emma (1996)',
 'Crow: City of Angels, The (1996)',
 'House Arrest (1996)',
 'Eyes Without a Face (Yeux sans visage, Les) (1959)',
 'Tales from the Crypt Presents: Bordello of Blood (1996)',
 'Spitfire Grill, The (1996)',
 'Escape from L.A. (1996)',
 'Basquiat (1996)',
 'Tin Cup (1996)',
 'Godfather, The (1972)',
 'Supercop (Police Story 3: Supercop) (Jing cha gu shi III: Chao ji jing cha) (1992)',
 'Bound (1996)',
 'Carpool (1996)',
 'Kansas City (1996)',
 "Gone Fishin' (1997)",
 'Nothing to Lose (1994)',
 'Supercop 2 (Project S) (Chao ji ji hua) (1993)',
 'Relic, The (1997)',
 'Island of Dr. Moreau, The (1996)',
 'First Kid (1996)',
 'Trigger Effect, The (1996)',
 'Bogus (1996)',
 'Bulletproof (1996)',
 'Land Before Time III: The Time of the Great Giving (1995)',
 '1-900 (06) (1994)',
 'Halloween: The Curse of Michael Myers (Halloween 6: The Curse of Michael Myers) (1995)',

In [71]:
import json

with open("data/titles.json", "w") as outfile:
    json.dump(titles, outfile)

# getting imdb links

In [6]:
movie_df = pd.read_csv('ml-latest-small/movies.csv')

movies_rated = ratings['movieId'].unique()

In [13]:
imdb_links = links[links['movieId'].isin(movies_rated)]['imdbId'].reset_index(drop=True)

In [20]:
imdb_links = imdb_links.astype('str')

In [27]:
lengths = imdb_links.str.len()

In [32]:
imdb_links = imdb_links.apply(lambda x: (7 - len(x))*"0" + x)

In [39]:
imdb_links = "https://www.imdb.com/title/tt" + imdb_links

In [50]:
imdb_links[1221:]

'https://www.imdb.com/title/tt0120524'

In [51]:
titles[1221]

'Wishmaster (1997)'

In [53]:
import json

with open("data/links.json", "w") as outfile:
    json.dump(list(imdb_links), outfile)